body {

}

head {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 100%;
}

p {
    text-indent: 10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

text {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.add {
  color: green;
}

.del {
  text-decoration: line-through;
}

.del {
  color: red;
}

.indent {
  text-indent: 20px;
}

unclear {
  color: orange;
}

sup {
  color: blue;
}

.fw {
  text-align: right;
}